<div class="fsa-m-t--s">
  <div class="fsa-grid">

    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Coverage Year: <strong>2019</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">County: <strong>Codington (029)</strong></span>
    </div>

  </div>
</div>
<div class="fsa-m-t--s">
  <div class="fsa-grid">

    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Dairy Operation: <strong>STICKS RIVER DAIRY</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Dairy Operation Number: <strong>963699666</strong></span>
    </div>
    <div class="fsa-grid__1/1 fsa-grid__1/3@m">
      <span class="fsa-text-size--3">Production History: <strong>12,123,432</strong></span>
    </div>

  </div>
</div>