<nav>
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <!-- Menu Item 1 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV1_ACTIVE }}fsa-nav-global__link--active{{/if}}"
            {{#if NAV1_ACTIVE }}href="index.html"{{else}}href="index-operation-selected.html"{{/if}}
            aria-current="page">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <!-- Menu Item 2 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV2_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="production-history.html">
            <span class="fsa-nav-global__text">Production History</span>
          </a>
        </li>
        
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV3_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="contracts.html">
            <span class="fsa-nav-global__text">Contracts</span>
          </a>
        </li>

        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{#if NAV4_ACTIVE }}fsa-nav-global__link--active{{/if}}" href="collections.html">
            <span class="fsa-nav-global__text">Collections</span>
          </a>
        </li>

        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{#if NAV5_ACTIVE }}fsa-nav-global__link--active{{/if}} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593945">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456789">Admin</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593945" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456789">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="admin-pending-transfers.html">Pending Transfers</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="admin-activate-dairy.html">Activate Dairy</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="">Activate Contract</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="">Approve Contracts</a>
                </li>
              </ul>
            </div>

          </div>

        </li>

       
      </ul>
    </div>
  </div>
</nav>
