{{#> ../layouts/base title='DMC - Dairy Operations Search' nav1_active="fsa-nav-global__link--active" }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <h1>Dairy Operations Results</h1>
			
				<div class="fsa-m-t--m">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Crop Year: <strong>2019</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">County: <strong>Codington (029)</strong></span>
						</div>

					</div>
				</div>

				<table class="fsa-table fsa-table--borderless">
					<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
					<thead>
						<tr>
							<th scope="col">Select</th>
							<th scope="col"><button class="fsa-table__sort" type="button">Operation</button></th>
							<th scope="col" class="fsa-text-align--right"><button class="fsa-table__sort fsa-table__sort--descending" type="button">Operation Number</button></th>
							<th scope="col" class="fsa-text-align--right">Farm Number</th>
							<th scope="col" class="fsa-text-align--right">Tract Number</button></th>
							<th scope="col" class="fsa-text-align--right">History</button></th>
							<th scope="col" class="fsa-text-align--right">Status</button></th>
							<th scope="col" class="fsa-text-align--right"><button class="fsa-table__sort" type="button">End Date</button></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span>
									<input class="fsa-radio" id="r1" type="radio" name="group1" value="1">
									<label for="r1"></label>
								</span>
							</td>
							<td class="fsa-text-align--right">DAVID D DAVISON</td>
							<td class="fsa-text-align--right">933699399</td>
							<td class="fsa-text-align--right">9909</td>
							<td class="fsa-text-align--right">8808</td>
							<td class="fsa-text-align--right">12,123,432</td>
							<td class="fsa-text-align--right">Approved</td>
							<td class="fsa-text-align--right">12/31/2019</td>
						</tr>
						<tr>
							<td>
								<span>
									<input class="fsa-radio" id="r2" type="radio" name="group1" value="2">
									<label for="r2"></label>
								</span>
							</td>
							<td class="fsa-text-align--right">LONNIE L LONESON</td>
							<td class="fsa-text-align--right">922699222</td>
							<td class="fsa-text-align--right">9909</td>
							<td class="fsa-text-align--right">8808</td>
							<td class="fsa-text-align--right">12,123,432</td>
							<td class="fsa-text-align--right">Approved</td>
							<td class="fsa-text-align--right">12/31/2019</td>
						</tr>
						<tr>
							<td>
								<span>
									<input class="fsa-radio" id="r3" type="radio" name="group1" value="3">
									<label for="r3"></label>
								</span>
							</td>
							<td class="fsa-text-align--right">RANDALL R RANDSON</td>
							<td class="fsa-text-align--right">944699444</td>
							<td class="fsa-text-align--right">9909</td>
							<td class="fsa-text-align--right">8808</td>
							<td class="fsa-text-align--right">12,123,432</td>
							<td class="fsa-text-align--right">Approved</td>
							<td class="fsa-text-align--right">12/31/2019</td>
						</tr>
						<tr>
							<td>
								<span>
									<input class="fsa-radio" id="r4" type="radio" name="group1" value="4">
									<label for="r4"></label>
								</span>
							</td>
							<td class="fsa-text-align--right">RICHARD R RICHSON</td>
							<td class="fsa-text-align--right">955699555</td>
							<td class="fsa-text-align--right">9909</td>
							<td class="fsa-text-align--right">8808</td>
							<td class="fsa-text-align--right">12,123,432</td>
							<td class="fsa-text-align--right">Approved</td>
							<td class="fsa-text-align--right">12/31/2019</td>
						</tr>
						<tr>
							<td>
								<span>
									<input class="fsa-radio" id="r5" type="radio" name="group1" value="5">
									<label for="r5"></label>
								</span>
							</td>
							<td class="fsa-text-align--right">STICKS RIVER DAIRY</td>
							<td class="fsa-text-align--right">963699666</td>
							<td class="fsa-text-align--right">9909</td>
							<td class="fsa-text-align--right">8808</td>
							<td class="fsa-text-align--right">12,123,432</td>
							<td class="fsa-text-align--right">Approved</td>
							<td class="fsa-text-align--right">12/31/2019</td>
						</tr>
						<tr>
							<td>
								<span>
									<input class="fsa-radio" id="r6" type="radio" name="group1" value="6">
									<label for="r6"></label>
								</span>
							</td>
							<td class="fsa-text-align--right">TROY T TROJAN</td>
							<td class="fsa-text-align--right">977699777</td>
							<td class="fsa-text-align--right">9909</td>
							<td class="fsa-text-align--right">8808</td>
							<td class="fsa-text-align--right">12,123,432</td>
							<td class="fsa-text-align--right">Approved</td>
							<td class="fsa-text-align--right">12/31/2019</td>
						</tr>
					</tbody>
				</table>

				<div class="fsa-m-t--m">
					<a role="button" href="index.html" class="fsa-btn fsa-btn--secondary" type="button">
						<span class="fsa-stepped-control__btn-label">Back</span>
					</a>
					<a role="button" href="index-operation-selected.html" class="fsa-btn fsa-btn--secondary" type="button">
						<span class="fsa-stepped-control__btn-label">Select Operation</span>
					</a>
          <a role="button" href="new-contract-general-information.html" class="fsa-btn fsa-btn--secondary" type="button">
						<span class="fsa-stepped-control__btn-label">New Contract</span>
					</a>
				</div>


      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../includes/hidden }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
