{{#> ../layouts/base TITLE='DMC - Home' NAV1_ACTIVE=true }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">
        
        <h1>Dairy Margin Coverage</h1>

					<div class="fsa-m-t--l">

						<a role="button" href="search-common-selection.html" class="fsa-btn fsa-btn--secondary" type="button">
						  <span class="fsa-stepped-control__btn-label">Search for Customer</span>
						</a>

						<a role="button" href="search-common-selection.html" class="fsa-btn fsa-btn--secondary" type="button">
						  <span class="fsa-stepped-control__btn-label">Set County &amp; State</span>
						</a>

					</div>

			</div>
		</div>


  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../includes/hidden }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
