{{#> ../layouts/base title='DMC - New Contract' nav2_active="fsa-nav-global__link--active" }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <nav aria-label="Breadcrumbs">
					<div class="fsa-stepped-tabs fsa-stepped-tabs--justified">
						<div class="fsa-stepped-tabs__bd">
							<ol class="fsa-stepped-tabs__list">
								
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-general-information.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">General Information</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-coverage-level.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">Coverage</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
										<span class="fsa-stepped-tabs__text">Producer</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
										<span class="fsa-stepped-tabs__text">Remittance</span>
									</span>
								</li>
								
							</ol>
						</div>
					</div>
				</nav>

				<h1>Producer Information</h1>
			
				<div class="fsa-m-t--s">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Crop Year: <strong>2019</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">County: <strong>Codington (029)</strong></span>
						</div>

					</div>
				</div>
				<div class="fsa-m-t--s">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Operation: <strong>STICKS RIVER DAIRY</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Number: <strong>963699666</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">History: <strong>12,123,432</strong></span>
						</div>

					</div>
				</div>

				<hr>
				
				<div class="fsa-m-t--m">
					<p>
						<span class="fsa-m-r--l fsa-text-size--4">Is the dairy operation <strong>also the producer</strong> that should receive payment?</span>
						<span>
							<input class="fsa-radio" id="r5" type="radio" name="group3" value="yes">
							<label for="r5">Yes</label>
						</span>
						<span>
							<input class="fsa-radio" id="r6" type="radio" name="group3" value="no">
							<label for="r6">No</label>
						</span>
					</p>
					<span class="fsa-text-size--3"><strong>Reminder: </strong> Members of entities should not generally be added as producers if the dairy operation is a legal entity. </span>
					
				</div>

				<div class="fsa-m-t--m">
					<span class="fsa-m-r--l fsa-text-size--4">Does the dairy operation qualify for waiver of the administrative fee? </span>
					<span>
						<input class="fsa-radio" id="r3" type="radio" name="group2" value="yes">
						<label for="r3">Yes</label>
					</span>
					<span>
						<input class="fsa-radio" id="r4" type="radio" name="group2" value="no">
						<label for="r4">No</label>
					</span>
				</div>	
				
				<table class="fsa-table fsa-table--borderless">
					<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
					<thead>
						<tr>
							<th class="fsa-table__th--sticky" scope="col">Producer Name</th>
							<th class="fsa-table__th--sticky" scope="col">Signature Date</th>
							<th class="fsa-table__th--sticky" scope="col">Share %</th>
							<th class="fsa-table__th--sticky" scope="col">Commensurate</th>
							<th class="fsa-table__th--sticky" scope="col">Participating</th>
							<th class="fsa-table__th--sticky" scope="col">Refused Payment</th>
							<th class="fsa-table__th--sticky" scope="col">POC</th>
							<th class="fsa-table__th--sticky" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>STICKS RIVER DAIRY</td>
							<td><input class="fsa-input fsa-input--small" type="text" name="qwerty" readonly="readonly" value="12/31/2019" placeholder="MM/DD/YYYY"></td>
							<td>
								<div class="fsa-spinbox fsa-spinbox--small">
									<div class="fsa-spinbox__number">
										<input class="fsa-input fsa-input--small fsa-spinbox__input" id="share-percent" name="share-percent" type="number" value="60" step="5">
									</div>
									<div class="fsa-spinbox__actions" aria-hidden="true">
										<button tabindex="-1" class="fsa-spinbox__btn fsa-spinbox__btn--increment" type="button" data-behavior="spinbox-spin" title="Increase"></button>
										<button tabindex="-1" class="fsa-spinbox__btn fsa-spinbox__btn--decrement" type="button" data-behavior="spinbox-spin" title="Decrease"></button>
									</div>
								</div>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="commensurate" type="checkbox" name="commensurate" value="commensurate">
									<label for="commensurate"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="participating" type="checkbox" name="participating" value="participating">
									<label for="participating"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="refused" type="checkbox" name="refused" value="refused">
									<label for="refused"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="poc" type="checkbox" name="poc" value="poc">
									<label for="poc"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--right">
                <button type="button" class="fsa-btn fsa-btn--secondary fsa-btn--small" data-behavior="open-modal" data-target="view-producer-1">Remove</button>
              </td>
						</tr>
						<tr>
							<td><input class="fsa-input fsa-input--small" type="text" name="qwerty" value="" placeholder="Producer Name"></td>
							<td><input class="fsa-input fsa-input--small" type="text" name="qwerty" value="" placeholder="MM/DD/YYYY"></td>
							<td>
								<div class="fsa-spinbox fsa-spinbox--small">
									<div class="fsa-spinbox__number">
										<input class="fsa-input fsa-input--small fsa-spinbox__input" id="share-percent" name="share-percent" type="number" value="0" step="5">
									</div>
									<div class="fsa-spinbox__actions" aria-hidden="true">
										<button tabindex="-1" class="fsa-spinbox__btn fsa-spinbox__btn--increment" type="button" data-behavior="spinbox-spin" title="Increase"></button>
										<button tabindex="-1" class="fsa-spinbox__btn fsa-spinbox__btn--decrement" type="button" data-behavior="spinbox-spin" title="Decrease"></button>
									</div>
								</div>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="commensurate2" type="checkbox" name="commensurate2" value="commensurate2">
									<label for="commensurate2"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="participating2" type="checkbox" name="participating2" value="participating2">
									<label for="participating2"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="refused2" type="checkbox" name="refused2" value="refused2">
									<label for="refused2"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								<span>
									<input class="fsa-checkbox" id="poc2" type="checkbox" name="poc2" value="poc2">
									<label for="poc2"></label>
								</span>
							</td>
							<td class="fsa-table__cell fsa-text-align--right">
								<a href="new-contract-producer.html" role="button" type="button" class="fsa-btn fsa-btn--secondary fsa-btn--small">Remove</a>
              </td>
						</tr>

						<tr>
							<td><a href="new-contract-producer-add.html" role="button" type="button" class="fsa-btn fsa-btn--secondary fsa-btn--small">Add Producer</a></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td>TOTAL SHARES: <strong>60%</strong></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						

						
					</tbody>
				</table>
			
			</div>
    </div>


		<div class="fsa-section">
      <div class="fsa-section__bd">        
				
				<div class="fsa-stepped-control">
					<div class="fsa-stepped-control__bd">

						<div class="fsa-stepped-control__message" role="status">
							<strong>3</strong> of <strong>5</strong> Steps
						</div>

						<div class="fsa-stepped-control__list">
							<div class="fsa-stepped-control__shim"></div>
					
							<div class="fsa-stepped-control__item">
								<a role="button" href="new-contract-coverage-handler.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Back
								</a>
							</div>
							<div class="fsa-stepped-control__item">
								<button class="fsa-btn fsa-btn--secondary fsa-btn--large"
									data-behavior="growl-show whiteout-show"
									aria-controls="growl__cancel-new-contract"
									aria-expanded="false"
									type="button">
									Cancel
								</button>
								<!--
								<a role="button" href="index.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Cancel
								</a>
								-->
							</div>
							<div class="fsa-stepped-control__item">
								<a id="demoNextButton" role="button" href="new-contract-remittance.html" class="fsa-btn fsa-btn--primary fsa-btn--large fsa-stepped-control__btn" type="button">
									<span class="fsa-stepped-control__btn-label">Continue</span>
								</a>
							</div>

						</div>
					</div>
				</div>



      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel-new-contract }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
