{{#> ../layouts/base title='DMC - New Contract' nav2_active="fsa-nav-global__link--active" }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <nav aria-label="Breadcrumbs">
					<div class="fsa-stepped-tabs fsa-stepped-tabs--justified">
						<div class="fsa-stepped-tabs__bd">
							<ol class="fsa-stepped-tabs__list">

								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-general-information.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">General Information</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-coverage-level.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">Coverage</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-producer.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">Producer</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
										<span class="fsa-stepped-tabs__text">Remittance</span>
									</a>
								</li>
								
							</ol>
						</div>
					</div>
				</nav>

				<h1>Remittance Information</h1>
			
				<div class="fsa-m-t--s">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Crop Year: <strong>2019</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">County: <strong>Codington (029)</strong></span>
						</div>

					</div>
				</div>
				<div class="fsa-m-t--s">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Operation: <strong>STICKS RIVER DAIRY</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Number: <strong>963699666</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">History: <strong>12,123,432</strong></span>
						</div>

					</div>
				</div>
				
				<hr>

				<div class="fsa-grid">
					<div class="fsa-grid__1/1 fsa-grid__1/2@m">
						<span class="fsa-text-size--4">Balance Due: <strong>$2,100.00</strong></span>
					</div>
					<div class="fsa-grid__1/1 fsa-grid__1/2@m fsa-text-align--right">
						<button
							class="fsa-btn fsa-btn--secondary"
							type="button"
							data-behavior="open-modal"
							aria-controls="modal__remittance-collection-history"
							aria-expanded="false"
							type="button">
							View Collections History
						</button>

					</div>
				</div>
				
				<h2 class="fsa-m-t--m">Remit Payment</h2>

				<div class="fsa-grid">
					<div class="fsa-grid__1/1 fsa-grid__1/2@m">
						{{> ../components/select/select-state SELECT_ID="UNIQUE-ID-select-state" HELP_ID="UNIQUE-ID-select-state-help" }}
						{{> ../components/select/select-county SELECT_ID="UNIQUE-ID-select-county" HELP_ID="UNIQUE-ID-select-county-help" STATE_SD=true }}

						<div class="fsa-field">
							<label class="fsa-field__label" for="UNIQUE-ID-select-office">Remittance Office <span class="fsa-field__label-desc">Required</span></label>
							<select class="fsa-select fsa-field__item " id="UNIQUE-ID-select-office" aria-describedby="UNIQUE-ID-select-office-help" aria-required="true" name="UNIQUE-ID-select-office">
								<option value="">Office</option>
								<option value="1">CODINGTON COUNTY FARM SERVICE AGENCY, SD</option>
								<option value="2">MONTGOMERY COUNTY FARM SERVICE AGENCY, SD</option>
								<option value="3">SPRINGFIELD COUNTY FARM SERVICE AGENCY, SD</option>
								<option value="4">DEMO COUNTY FARM SERVICE AGENCY, SD</option>
							</select>
							<!--<span class="fsa-field__help" id="UNIQUE-ID-select-program-year-help">Instructional message here</span>-->
						</div>

						<div class="fsa-m-b--m fsa-m-t--l">
							<span class="fsa-text-size--3">Remitter: <strong>ROBERT ROBERTSON</strong></span> 
							
						</div>
						<button type="button" class="fsa-btn fsa-btn--secondary" data-behavior="open-modal" data-target="view-producer-1">Select From SCIMS</button>


					</div>
					<div class="fsa-grid__1/1 fsa-grid__1/2@m">	

						<div class="fsa-field">
							<label class="fsa-field__label" for="UNIQUE-ID-remittance-type">Remittance Type <span class="fsa-field__label-desc">Required</span></label>
							<select class="fsa-select fsa-field__item " id="UNIQUE-ID-select-remittance-type" aria-describedby="UNIQUE-ID-select-remittance-type-help" aria-required="true" name="UNIQUE-ID-select-remittance-type">
								<option value=""></option>
								<option value="1">Cash and Coin</option>
								<option value="2">Check</option>
								<option value="3">Debit Card</option>
								<option value="4">Bitcoin</option>
							</select>
							<!--<span class="fsa-field__help" id="UNIQUE-ID-select-program-year-help">Instructional message here</span>-->
						</div>

						<div class="fsa-field">
							<label class="fsa-field__label" for="UNIQUE-ID-check-number">Check/Item Number <span class="fsa-field__label-desc">Required</span></label>
							<input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
						</div>

						<div class="fsa-field">
							<label class="fsa-field__label" for="UNIQUE-ID-check-number">Check/Item Date <span class="fsa-field__label-desc">Required</span></label>
							<input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" placeholder="MM/DD/YYYY" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
						</div>

						<div class="fsa-field">
							<label class="fsa-field__label" for="UNIQUE-ID-check-number">Remittance Amount <span class="fsa-field__label-desc">Required</span></label>
							<input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" placeholder="$0.00" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
						</div>


						<div class="fsa-field">
							<label class="fsa-field__label" for="UNIQUE-ID-check-number"><strong>Amount to Apply to DMC</strong> <span class="fsa-field__label-desc">Required</span></label>
							<input class="fsa-input fsa-field__item" id="UNIQUE-ID-check-number" placeholder="$0.00" aria-describedby="UNIQUE-ID-check-number-help" aria-required="true" name="UNIQUE-ID-check-number" type="text" value="">
						</div>
							
					</div>
				</div>

				<!--
				<div class="fsa-m-t--m">
					<button
						class="fsa-btn fsa-btn--secondary"
						type="button"
						data-behavior="open-modal"
						aria-controls="modal__remittance-collection-history"
						aria-expanded="false"
						type="button">
						View Collections History
					</button>
				</div>
				-->

			</div>
    </div>

		


		<div class="fsa-section">
      <div class="fsa-section__bd">        
				
				<div class="fsa-stepped-control">
					<div class="fsa-stepped-control__bd">

						<div class="fsa-stepped-control__message" role="status">
							<strong>5</strong> of <strong>5</strong> Steps
						</div>

						<div class="fsa-stepped-control__list">
							<div class="fsa-stepped-control__shim"></div>
					
							<div class="fsa-stepped-control__item">
								<a role="button" href="new-contract-summary.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Back
								</a>
							</div>
							<div class="fsa-stepped-control__item">
								<button class="fsa-btn fsa-btn--secondary fsa-btn--large"
									data-behavior="growl-show whiteout-show"
									aria-controls="growl__cancel-new-contract"
									aria-expanded="false"
									type="button">
									Cancel
								</button>
								<!--
								<a role="button" href="index.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Cancel
								</a>
								-->
							</div>
							<div class="fsa-stepped-control__item">
								
								<button role="button"
									data-behavior="growl-show whiteout-show"
									aria-controls="growl__new-contract-success"
									aria-expanded="false"
									class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn"
									type="button">
									Save and Submit
								</button>
							</div>

						</div>
					</div>
				</div>



      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
		{{> ../components/modal/modal-collection-history }}
  	{{> ../components/growl/growl-cancel-new-contract }}
		{{> ../components/growl/growl-new-contract-created }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
