{{#> ../layouts/base TITLE='DMC - New Contract - Producer Certification' NAV3_ACTIVE=true }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        {{> ../components/stepped-tabs/stepped-tabs STEP3=true }}

				<h1>Producer Certification</h1>
			
				{{> ../includes/operation-data }}		
				
				<table class="fsa-table fsa-table--borderless">
					<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
					<thead>
						<tr>
							<th class="fsa-table__th--sticky" scope="col">Producer Name</th>
							<th class="fsa-table__th--sticky fsa-text-align--right" scope="col">Signature Date</th>
							<th class="fsa-table__th--sticky fsa-text-align--right" scope="col">Share</th>
							<th class="fsa-table__th--sticky" scope="col">Commensurate</th>
							<th class="fsa-table__th--sticky" scope="col">Participating</th>
							<th class="fsa-table__th--sticky" scope="col">Refused Payment</th>
							<th class="fsa-table__th--sticky" scope="col">POC</th>
							<th class="fsa-table__th--sticky" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td colspan="2">
								<!--
								<button
									role="button"
									type="button"
									aria-behavior="modal-show"
									data-behavior="open-modal"
									aria-controls="modal__producer-add-dairy-operation"
									aria-expanded="false"
									class="fsa-btn fsa-btn--secondary fsa-btn--small">
									Add Dairy Operation
								</button>
								-->
								<button
									role="button"
									type="button"
									aria-behavior="modal-show"
									data-behavior="open-modal"
									aria-controls="modal__producer-add-producer"
									aria-expanded="false"
									class="fsa-btn fsa-btn--secondary fsa-btn--small">
									Add Producer
								</button>
								
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="fsa-text-align--right">TOTAL SHARES: <strong>0%</strong></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						
					</tbody>
				</table>
			
			</div>
    </div>


		<div class="fsa-section">
      <div class="fsa-section__bd">        
				
				{{> ../components/stepped-control/stepped-control
          CURRENT_STEP="3"
          TOTAL_STEPS="5"
          BACK_URL="new-contract-coverage-level.html"
          BACK_LABEL="Back"
          CONTINUE_URL="new-contract-summary.html"
          CONTINUE_LABEL="Continue"
          USE_GROWL_ON_CANCEL=true  
          GROWL_ID="growl__cancel-new-contract"      
        }}



      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel-new-contract GROWL_ID="growl__cancel-new-contract" }}
		{{> ../components/modal/modal-add-producer MODAL_URL_1="new-contract-producer-add1.html" MODAL_URL_2="new-contract-producer-add2.html" }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
