{{#> ../layouts/base TITLE='DMC - New Contract - Producer Certification' NAV2_ACTIVE=true }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        {{> ../components/stepped-tabs/stepped-tabs STEP3=true }}

				<h1>Producer Certification</h1>
			
				{{> ../includes/operation-data }}

		
				<table class="fsa-table fsa-table--borderless">
					<caption class="sr-only">Caption that is hidden visually, but read by screenreader</caption>
					<thead>
						<tr>
							<th class="fsa-table__th--sticky" scope="col">Producer Name</th>
							<th class="fsa-table__th--sticky fsa-text-align--right" scope="col">Signature Date</th>
							<th class="fsa-table__th--sticky fsa-text-align--right" scope="col">Share</th>
							<th class="fsa-table__th--sticky" scope="col">Commensurate</th>
							<th class="fsa-table__th--sticky" scope="col">Participating</th>
							<th class="fsa-table__th--sticky" scope="col">Refused Payment</th>
							<th class="fsa-table__th--sticky" scope="col">POC</th>
							<th class="fsa-table__th--sticky" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>STICKS RIVER DAIRY</td>
							<td class="fsa-text-align--right">12/31/2019</td>
							<td class="fsa-text-align--right">60</td>
							<td class="fsa-table__cell fsa-text-align--center">
								Yes
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								Yes
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								No
							</td>
							<td class="fsa-table__cell fsa-text-align--center">
								Yes
							</td>
							<td class="fsa-table__cell fsa-text-align--right">
                <!--<a href="new-contract-producer.html" role="button" type="button" class="fsa-btn fsa-btn--secondary fsa-btn--small">Edit</a>-->
								<button
									role="button"
									type="button"
									aria-behavior="modal-show"
									data-behavior="open-modal"
									aria-controls="modal__producer-edit-producer"
									aria-expanded="false"
									class="fsa-btn fsa-btn--secondary fsa-btn--small">
									Edit
								</button>
              </td>
						</tr>

						<tr>
							<td>
								<button
									role="button"
									type="button"
									aria-behavior="modal-show"
									data-behavior="open-modal"
									aria-controls="modal__producer-add-producer"
									aria-expanded="false"
									class="fsa-btn fsa-btn--secondary fsa-btn--small">
									Add Producer
								</button>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="fsa-text-align--right">TOTAL SHARES: <strong>60%</strong></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						

						
					</tbody>
				</table>
			

				<div class="fsa-m-t--l">
					<span class="fsa-m-r--l fsa-text-size--4">Does the dairy operation qualify for waiver of the administrative fee? </span>
					<span>
						<input class="fsa-radio" id="r3" type="radio" name="group2" value="yes">
						<label for="r3">Yes</label>
					</span>
					<span>
						<input class="fsa-radio" id="r4" type="radio" name="group2" value="no">
						<label for="r4">No</label>
					</span>
				</div>	

			</div>
    </div>


		<div class="fsa-section">
      <div class="fsa-section__bd">        
				
				<div class="fsa-stepped-control">
					<div class="fsa-stepped-control__bd">

						<div class="fsa-stepped-control__message" role="status">
							<strong>3</strong> of <strong>5</strong> Steps
						</div>

						<div class="fsa-stepped-control__list">
							<div class="fsa-stepped-control__shim"></div>
					
							<div class="fsa-stepped-control__item">
								<a role="button" href="new-contract-coverage-level.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Back
								</a>
							</div>
							<div class="fsa-stepped-control__item">
								<button class="fsa-btn fsa-btn--secondary fsa-btn--large"
									data-behavior="growl-show whiteout-show"
									aria-controls="growl__cancel-new-contract"
									aria-expanded="false"
									type="button">
									Cancel
								</button>
								<!--
								<a role="button" href="index.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Cancel
								</a>
								-->
							</div>
							<div class="fsa-stepped-control__item">
								<a id="demoNextButton" role="button" href="new-contract-summary.html" class="fsa-btn fsa-btn--primary fsa-btn--large fsa-stepped-control__btn" type="button">
									<span class="fsa-stepped-control__btn-label">Continue</span>
								</a>
							</div>

						</div>
					</div>
				</div>



      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel-new-contract }}
		{{> ../components/modal/modal-add-producer MODAL_URL_2="new-contract-producer-add3.html" }}
		{{> ../components/modal/modal-edit-producer }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
