{{#> ../layouts/base title='DMC - New Contract' nav2_active="fsa-nav-global__link--active" }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <nav aria-label="Breadcrumbs">
					<div class="fsa-stepped-tabs fsa-stepped-tabs--justified">
						<div class="fsa-stepped-tabs__bd">
							<ol class="fsa-stepped-tabs__list">
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-general-information.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">General Information</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
										<span class="fsa-stepped-tabs__text">Coverage</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
										<span class="fsa-stepped-tabs__text">Producer</span>
									</span>
								</li>
								<li class="fsa-stepped-tabs__item">
									<span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
										<span class="fsa-stepped-tabs__text">Remittance</span>
									</span>
								</li>
								
							</ol>
						</div>
					</div>
				</nav>

				<h1>Coverage Options</h1>
			
				<div class="fsa-m-t--s">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Crop Year: <strong>2019</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">State: <strong>South Dakota (46)</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">County: <strong>Codington (029)</strong></span>
						</div>

					</div>
				</div>
				<div class="fsa-m-t--s">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Operation: <strong>STICKS RIVER DAIRY</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">Number: <strong>963699666</strong></span>
						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							<span class="fsa-text-size--3">History: <strong>12,123,432</strong></span>
						</div>

					</div>
				</div>
				
				<div class="fsa-m-t--xl">
					<div class="fsa-grid">

						<div class="fsa-grid__1/1 fsa-grid__3/12@m">

							<div class="fsa-field">
								<label class="fsa-field__label" for="UNIQUE-ID-percentage">Coverage Percentage <span class="fsa-field__label-desc">Required</span></label>
								<select class="fsa-select fsa-field__item" id="UNIQUE-ID-percentage" aria-describedby="percentage-help" aria-required="true" name="UNIQUE-ID-percentage">
									<option value="20">20%</option>
									<option value="25">25%</option>
									<option value="30">30%</option>
									<option value="35">35%</option>
									<option value="40">40%</option>
									<option value="45">45%</option>
									<option value="50">50%</option>
									<option value="55">55%</option>
									<option value="60">60%</option>
									<option value="65">65%</option>
									<option value="70">70%</option>
									<option value="75">75%</option>
									<option value="80">80%</option>
									<option value="85">85%</option>
									<option value="90">90%</option>
								</select>
							</div>

							<div class="fsa-field">
								<label class="fsa-field__label" for="TheItem2">Start Date</label>
								<input class="fsa-input fsa-field__item" id="TheItem2" readonly="readonly" aria-describedby="lorem-1234-help-2" aria-required="true" name="TheItem2" type="text" value="06/01/2019">
							</div>

							<div class="fsa-field">
								<label class="fsa-field__label" for="TheItem2">End Date</label>
								<input class="fsa-input fsa-field__item" id="TheItem2" readonly="readonly" aria-describedby="lorem-1234-help-2" aria-required="true" name="TheItem2" type="text" value="12/31/2019">
							</div>

							<div class="fsa-m-t--m fsa-m-b--m">
								<p>Is the dairy operation electing to lock in coverage for the duration of the Dairy Margin Coverage program?</p>
								<span>
									<input class="fsa-radio" id="r1" type="radio" name="group1" value="yes">
									<label for="r1">Yes</label>
								</span>
								<span>
									<input class="fsa-radio" id="r2" type="radio" name="group1" value="no">
									<label for="r2">No</label>
								</span>
							</div>



							<div class="dmc-data-box">
              	<div class="dmc-data-box__title">Calculated Premium</div>
              	<div class="dmc-data-box__bd dmc-data-box__bd--lg">$12,100.00</div>
            	</div>


						</div>

						<div class="fsa-grid__1/1 fsa-grid__1/12@m"></div>

						<div class="fsa-grid__1/1 fsa-grid__8/12@m">
							
							<table class="fsa-table fsa-m-t--none">
								<!-- <caption>Select Coverage Level:</caption> -->
								<thead>
									<tr>
										<th class="fsa-table__th--sticky" scope="col">Coverage Level</th>
										<th class="fsa-table__th--sticky" scope="col">Tier 1 - 5,000,000</th>
										<th class="fsa-table__th--sticky" scope="col">Select</th>
										<th class="fsa-table__th--sticky" scope="col">Tier 2 - 4,500,000</button></th>
										<th class="fsa-table__th--sticky" scope="col">Select</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="fsa-text-align--right">$4.00</td>
										
										<td class="fsa-text-align--right">$0.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-1" type="radio" name="group1" value="1">
												<label class="dmc-radio-label__no-label" for="t1-1"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$0.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t2-1" type="radio" name="group2" value="1">
												<label for="t2-1"></label>
											</span>
										</td>
									</tr>

									<tr>
										<td class="fsa-text-align--right">$4.50</td>
										
										<td class="fsa-text-align--right">$125.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-2" type="radio" name="group1" value="1">
												<label for="t1-2"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$113.00</td>
										
										<td>
											<span>
												<input class="fsa-radio" id="t2-2" type="radio" name="group2" value="1">
												<label for="t2-2"></label>
											</span>
										</td>

									</tr>

									<tr>
										<td class="fsa-text-align--right">$5.00</td>
										
										<td class="fsa-text-align--right">$250.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-3" type="radio" name="group1" value="1">
												<label for="t1-3"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$225.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t2-3" type="radio" name="group2" value="1">
												<label for="t2-3"></label>
											</span>
										</td>
										
									</tr>

									<tr>
										<td class="fsa-text-align--right">$5.50</td>
										
										<td class="fsa-text-align--right">$1,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-4" type="radio" name="group1" value="1">
												<label for="t1-4"></label>
											</span>
										</td>

										<td class="fsa-text-align--right">$4,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t2-4" type="radio" name="group2" value="1">
												<label for="t2-4"></label>
											</span>
										</td>

									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$6.00</td>
										
										<td class="fsa-text-align--right">$2,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-5" type="radio" name="group1" value="1">
												<label for="t1-5"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$13,950.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t2-5" type="radio" name="group2" value="1">
												<label for="t2-5"></label>
											</span>
										</td>
									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$6.50</td>
										
										<td class="fsa-text-align--right">$3,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-6" type="radio" name="group1" value="1">
												<label for="t1-6"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$29,250.00</td>
										
										<td>
											<span>
												<input class="fsa-radio" id="t2-6" type="radio" name="group2" value="1">
												<label for="t2-6"></label>
											</span>
										</td>
									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$7.00</td>
										
										<td class="fsa-text-align--right">$4,000.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-7" type="radio" name="group1" value="1">
												<label for="t1-7"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$49,815.00</td>
										
										<td>
											<span>
												<input class="fsa-radio" id="t2-7" type="radio" name="group2" value="1">
												<label for="t2-7"></label>
											</span>
										</td>
									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$7.50</td>
										
										<td class="fsa-text-align--right">$4,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-8" type="radio" name="group1" value="1">
												<label for="t1-8"></label>
											</span>
										</td>
										
										<td class="fsa-text-align--right">$63,585.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t2-8" type="radio" name="group2" value="1">
												<label for="t2-8"></label>
											</span>
										</td>
									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$8.00</td>
										
										<td class="fsa-text-align--right">$5,000.00</td>
										
										<td>
											<span>
												<input class="fsa-radio" id="t1-9" type="radio" name="group1" value="1">
												<label for="t1-9"></label>
											</span>
										</td>
										<td class="fsa-text-align--right">$81,585.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t2-9" type="radio" name="group2" value="1">
												<label for="t2-9"></label>
											</span>
										</td>
									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$8.50</td>
										
										<td class="fsa-text-align--right">$5,250.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-10" type="radio" name="group1" value="1">
												<label for="t1-10"></label>
											</span>
										</td>
										<td>
											
										</td>
										<td>

										</td>
									</tr>
									<tr>
										<td class="fsa-text-align--right">$9.00</td>
										
										<td class="fsa-text-align--right">$5,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-11" type="radio" name="group1" value="1">
												<label for="t1-11"></label>
											</span>
										</td>
										<td>

										</td>
										<td>

										</td>
									</tr>
									
									<tr>
										<td class="fsa-text-align--right">$9.50</td>
										
										<td class="fsa-text-align--right">$7,500.00</td>
										<td>
											<span>
												<input class="fsa-radio" id="t1-12" type="radio" name="group1" value="1">
												<label for="t1-12"></label>
											</span>
										</td>
										<td>

										</td>
										<td>

										</td>
									</tr>
									
								</tbody>
							</table>
							
						</div>

					</div>
				</div>
				
			</div>
    </div>


		<div class="fsa-section">
      <div class="fsa-section__bd">        
				
				<div class="fsa-stepped-control">
					<div class="fsa-stepped-control__bd">

						<div class="fsa-stepped-control__message" role="status">
							<strong>2</strong> of <strong>5</strong> Steps
						</div>

						<div class="fsa-stepped-control__list">
							<div class="fsa-stepped-control__shim"></div>
					
							<div class="fsa-stepped-control__item">
								<a role="button" href="new-contract-general-information.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Back
								</a>
							</div>
							<div class="fsa-stepped-control__item">
								<button class="fsa-btn fsa-btn--secondary fsa-btn--large"
									data-behavior="growl-show whiteout-show"
									aria-controls="growl__cancel-new-contract"
									aria-expanded="false"
									type="button">
									Cancel
								</button>
								<!--
								<a role="button" href="index.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Cancel
								</a>
								-->
							</div>
							<div class="fsa-stepped-control__item">
								<a id="demoNextButton" role="button" href="new-contract-producer.html" class="fsa-btn fsa-btn--primary fsa-btn--large fsa-stepped-control__btn" type="button">
									<span class="fsa-stepped-control__btn-label">Continue</span>
								</a>
							</div>

						</div>
					</div>
				</div>



      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel-new-contract }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
