

{{#> ../layouts/base title='DMC - New Contract - Summary' nav2_active="fsa-nav-global__link--active" }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        <nav aria-label="Breadcrumbs">
					<div class="fsa-stepped-tabs fsa-stepped-tabs--justified">
						<div class="fsa-stepped-tabs__bd">
							<ol class="fsa-stepped-tabs__list">
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-general-information.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">General Information</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a href="new-contract-coverage-level.html" class="fsa-stepped-tabs__label fsa-stepped-tabs__label--complete">
										<span class="fsa-stepped-tabs__text">Coverage</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<a class="fsa-stepped-tabs__label fsa-stepped-tabs__label--active" aria-current="true">
										<span class="fsa-stepped-tabs__text">Producer</span>
									</a>
								</li>
								<li class="fsa-stepped-tabs__item">
									<span class="fsa-stepped-tabs__label fsa-stepped-tabs__label--incomplete">
										<span class="fsa-stepped-tabs__text">Remittance</span>
									</span>
								</li>
								
							</ol>
						</div>
					</div>
				</nav>

				<h1>Contract Summary</h1>
			
				{{> ../includes/operation-data }}
				
				<hr>
				<div class="fsa-m-t--s">
          <h3 class="fsa-m-t--s">Debits:</h3>
					<div class="fsa-grid">
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">

							<div class="fsa-m-t--s">
								<div class="dmc-data-box">
									<div class="dmc-data-box__title">Premium</div>
									<div class="dmc-data-box__bd dmc-data-box__bd--lg">$12,000.00</div>
								</div>
							</div>
							

						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">

							<div class="fsa-m-t--s">
								<div class="dmc-data-box">
									<div class="dmc-data-box__title">Administrative Fee</div>
									<div class="dmc-data-box__bd dmc-data-box__bd--lg">$100.00</div>
								</div>
							</div>
							

            </div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							
							<div class="fsa-m-t--s">
								<div class="dmc-data-box">
									<div class="dmc-data-box__title">Balance</div>
									<div class="dmc-data-box__bd dmc-data-box__bd--lg">$12,100.00</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>


        <div class="fsa-m-t--s">
          <h3 class="fsa-m-t--s">Credits:</h3>
					<div class="fsa-grid">
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">

							<div class="fsa-m-t--s">
								<div class="dmc-data-box">
									<div class="dmc-data-box__title">Premium Credit</div>
									<div class="dmc-data-box__bd dmc-data-box__bd--lg">$10,000.00</div>
								</div>
							</div>
							

						</div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">

							<div class="fsa-m-t--s">
								<div class="dmc-data-box">
									<div class="dmc-data-box__title">Waived</div>
									<div class="dmc-data-box__bd dmc-data-box__bd--lg">$100.00</div>
								</div>
							</div>
							

            </div>
						<div class="fsa-grid__1/1 fsa-grid__1/3@m">
							
							<div class="fsa-m-t--s">
								<div class="dmc-data-box">
									<div class="dmc-data-box__title">Amount Paid</div>
									<div class="dmc-data-box__bd dmc-data-box__bd--lg">$0.00</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
				<div class="fsa-m-t--xl fsa-text-align--right">
					<div class="fsa-text-size--5">TOTAL DUE: <strong>$2,000.00</strong></div>
				</div>
		
			</div>
    </div>


		<div class="fsa-section">
      <div class="fsa-section__bd">        
				
				<div class="fsa-stepped-control">
					<div class="fsa-stepped-control__bd">

						<div class="fsa-stepped-control__message" role="status">
							<strong>4</strong> of <strong>5</strong> Steps
						</div>

						<div class="fsa-stepped-control__list">
							<div class="fsa-stepped-control__shim"></div>
					
							<div class="fsa-stepped-control__item">
								<a role="button" href="new-contract-producer.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Back
								</a>
							</div>
							<div class="fsa-stepped-control__item">
								<button class="fsa-btn fsa-btn--secondary fsa-btn--large"
									data-behavior="growl-show whiteout-show"
									aria-controls="growl__cancel-new-contract"
									aria-expanded="false"
									type="button">
									Cancel
								</button>
								<!--
								<a role="button" href="index.html" class="fsa-btn fsa-btn--alt fsa-btn--large fsa-stepped-control__btn" type="button">
									Cancel
								</a>
								-->
							</div>
							<div class="fsa-stepped-control__item">
								<a id="demoNextButton" role="button" href="new-contract-remittance.html" class="fsa-btn fsa-btn--primary fsa-btn--large fsa-stepped-control__btn" type="button">
									<span class="fsa-stepped-control__btn-label">Continue</span>
								</a>
							</div>

						</div>
					</div>
				</div>



      </div>
    </div>
		

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel-new-contract }}
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
