{{#> ../layouts/base TITLE='DMC - New Contract - Producer Certification' NAV3_ACTIVE=true }}

  {{#*inline "main-block"}}

    <div class="fsa-section">
      <div class="fsa-section__bd">

        {{> ../components/stepped-tabs/stepped-tabs STEP3=true }}

				<h1>Producer Certification</h1>
			
				{{> ../includes/operation-data }}		
				
        <hr>

        <div class="fsa-m-t--l">

          <a role="button" href="new-contract-producer-v2-2.html" type="button" class="fsa-btn fsa-btn--secondary fsa-btn--small">
            Add Dairy Operation
          </a>
          <a role="button" href="new-contract-producer-v2-3.html" type="button" class="fsa-btn fsa-btn--secondary fsa-btn--small">
            Add Producer
          </a>

        </div>

				<hr>

				<div class="fsa-m-t--l">

					<span class="fsa-text-size--4">TOTAL SHARES: <strong>0%</strong></span>

				</div>

				<div class="fsa-m-t--m">
					<span class="fsa-m-r--l fsa-text-size--4">Does the dairy operation qualify for waiver of the administrative fee? </span>
					<span>
						<input class="fsa-radio" id="r3" type="radio" name="group2" value="yes">
						<label for="r3">Yes</label>
					</span>
					<span>
						<input class="fsa-radio" id="r4" type="radio" name="group2" value="no">
						<label for="r4">No</label>
					</span>
				</div>

      </div>
    </div>


    <div class="fsa-section">
      <div class="fsa-section__bd">        
				
				{{> ../components/stepped-control/stepped-control
          CURRENT_STEP="3"
          TOTAL_STEPS="5"
          BACK_URL="new-contract-coverage-level.html"
          BACK_LABEL="Back"
          CONTINUE_URL="new-contract-summary.html"
          CONTINUE_LABEL="Continue"
          USE_GROWL_ON_CANCEL=true  
          GROWL_ID="growl__cancel-new-contract"      
        }}
				
		  </div>
    </div>

  {{/inline}}

  {{#*inline "hidden-block"}}
    <!-- HIDDEN - FOR MODALS/GROWL CONTENT -->
    {{> ../components/growl/growl-cancel-new-contract GROWL_ID="growl__cancel-new-contract" }}
		
    <!-- /HIDDEN -->
  {{/inline}}

{{/../layouts/base }}
